/////////////////////*清除預設樣式*/

/* 清除內外邊距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
/* structural elements 結構元素 */
dl,
dt,
dd,
ul,
ol,
li,
/* list elements 列表元素 */
pre,
/* text formatting elements 文字格式元素 */
fieldset,
lengend,
button,
input,
textarea,
/* form elements 表單元素 */
th,
td {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 設定預設字型 */
body,
button,
input,
select,
textarea {
    /* for ie */
    font: 12px/1;
    font-family: sans-serif, Tahoma, Helvetica, Arial;
    /* 用 ascii 字元表示，使得在任何編碼下都無問題 */
}

h1 {
    font-size: 36px;
    margin-bottom: 1.625rem;
    line-height: 1.6em;
}

h2 {
    font-size: 32px;
    margin-bottom: 1.625rem;

}

h3 {
    font-size: 28px;
    margin-bottom: 1.625rem;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;

}

h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

/* 將斜體扶正 */
code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}

/* 統一等寬字型 */
small {
    font-size: 12px;
}

/* 小於 12px 的中文很難閱讀，讓 small 正常化 */

/* 重置列表元素 */
ul,
ol {
    list-style: none;
}

/* 重置文字格式元素 */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

abbr[title],
acronym[title] {
    /* 注：1.ie6 不支援 abbr; 2.這裡用了屬性選擇符，ie6 下無效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before,
q:after {
    content: '';
}

/* 重置表單元素 */
legend {
    color: #000;
}

/* for ie6 */
fieldset,
img {
    border: none;
}

/* img 搭車：讓連結裡的 img 無邊框 */
/* 注：optgroup 無法扶正 */
button,
input,
select,
textarea {
    font-size: 100%;
    /* 使得表單元素在 ie 下能繼承字型大小 */
}

/* 重置btn元素 */
button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

//////////////////*row col設定*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: 10px;
    padding-right: 10px;
}

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}

.col-12 {
    width: 100%;
}

///////////////*my css*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    width: 100%;
    font-size: 16px;
    line-height: 1.6em;
}

// .body_content {
//     height: 100vh;
// }

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1180px;
    margin: auto;
}

@media(max-width:1220px) {
    .container {
        max-width: 960px;
        padding: 0 24px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    z-index: 50;
    // padding-top: 30px;
    // padding-bottom: 30px;
    // padding-left: 26px;
    // padding-right: 26px;


    .header_logo {
        width: 300px;
        height: 80px;
        margin: auto 0;
        background-image: url(/img/img_logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.header_left {
    // flex: 0 0 25%;
    // max-width: 25%;
    float: left;
    display: flex;
    padding: 13px 0;

}

.header_right {
    // flex: 0 0 75%;
    // max-width: 75%;
    float: right;
    display: flex;
    // justify-content: flex-end;
    padding: 27px 0;

    a {
        padding: 30px 15px;
        color: #373839;
    }
}

.menu_input {
    display: none;
}

.menu_icon {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 5;

    span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: #fff;
        position: relative;
        transition: .3s ease-in-out;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            transform: rotate(0deg);
            transform-origin: 3px 1px;
            transition: .3s ease-in-out
        }

        &::before {
            top: -5px;
        }

        &::after {
            top: 5px;
        }
    }
}


@media(max-width:767px) {
    .header {
        background-color: #fff;

        // .header_logo {
        //     background-image: url(http://fakeimg.pl/54x54/F0F1F2/?text=PJCHENder);

        // }
    }

    .menu_icon {
        display: flex;

    }

    .menu {
        display: none;
        background-color: #fff;
        max-height: 80px;
        transition: .3s ease-in-out;
        transform: scaleY(0);
        transform-origin: 0 0;

    }

    .menu_input:checked~.menu {
        display: inline-block;
        text-align: center;
        width: 100%;
        max-height: 600px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        // background-color: #fff;
        padding: 120px 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        transform: scaleY(1);

        a {
            display: block;
            color: #555657;
        }
    }

    .menu_input:checked~.menu_icon {
        span::before {
            transform: rotate(45deg);
        }

        span {
            background: transparent;
        }

        span::after {
            transform: rotate(-45deg);
        }
    }
}


// .bg_1 {
//     background-image: url(/img/bg_index_top.svg);
//     position: absolute;
//     top: 0;
//     z-index: -1;
//     width: 100%;
//     height: 100%;
//     background-repeat: no-repeat;
// }

// .bg_2 {
//     background-image: url(/img/bg_index_2.svg);
//     position: absolute;
//     top: 692px;
//     left: -332px;
//     z-index: -1;
//     width: 100%;
//     height: 100%;
//     background-repeat: no-repeat;
// }
.bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

}

.bg_1 {
    background-image: url(/img/bg_index_t_l.svg);
    top: 0;
    left: 0;
}

.bg_2 {
    background-image: url(/img/bg_index_top_r.svg);
    right: 0;
    top: 0;
    width: 520px;
    height: 1200px;
}

.bg_3 {
    background-image: url(/img/bg_index_bottom.svg);
    width: 256px;
    height: 139px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 182px;
}

.bg_4 {
    background-image: url(/img/bg_index_2.svg);
    width: 764px;
    height: 800px;
    background-repeat: no-repeat;
    position: absolute;
    left: -330px;
    top: 692px;

}

.bg_5 {
    background-image: url(/img/bg_index_item.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 1990px;
    right: 0px;
    width: 165px;
    height: 235px;
    opacity: 50%;
}

.content_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        flex-direction: column;

    }

    p {
        text-align: center;
        margin-top: 20px;
    }
}

.arrow {
    position: absolute;
    bottom: 0;
    top: auto;
    right: 0;
    left: 0;
    margin: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
    transition: all 0.1s ease-in-out;
}

.w-in-block {
    width: 100%;
    display: inline-block;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 165px 90px 165px;
    flex-direction: column;
    max-width: 1180px;

    a {
        width: 100%;
        position: relative;
        margin-bottom: 90px;

        :hover {
            cursor: pointer;
        }
    }

    img {
        width: 100%;
        display: flex;
        height: 100%;
        border-radius: 12px;
    }

    .block {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.16;
        display: none;
        border-radius: 12px;

    }

    .project_link:hover .block {
        display: flex;
        transition: .3s ease-in-out;
    }

    a:last-child {
        margin-bottom: 0;
    }

}

footer {
    background-color: #F0F1F2;
    width: 100%;
    height: 182px;
    display: flex;
    align-items: flex-start;
    margin-top: 200px;
    padding: 50px 150px;
    flex-direction: column;

    a {
        padding: 15px;
        color: #555657;
    }
}

.btn_backtotop {
    width: 60px;
    height: 60px;
    box-shadow: 0 0px 20px #F7E85F;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 50;

    .btn_backtotop_baby {
        position: fixed;
        bottom: 4px;
        right: 6px;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
    }

    &:hover {
        background-color: #F7E85F;

        #back_to_top {
            fill: #fff;
        }

        .btn_backtotop_baby {
            opacity: .7;
        }


    }


}


.bg_blue {
    background-image: url(/img/bg_blue.svg);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -50;

}

.page_project {
    margin: auto;
    // padding-left: 26px;
    // padding-right: 26px;
}

// .introduce{
//     margin-top: 250px;
//     margin-left: -225px;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     p{
//         width: 30%;
//         text-align: left;
//         margin-top: 0;
//     }
// }
.page_project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    flex-direction: column;

    img {
        margin-top: 200px;
    }
}

.about_title {
    color: #25689F;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-top: 100px;

    &::before {
        background-image: url(/img/icon_about-title.svg);
        width: 70px;
        height: 70px;
        background-size: contain;
        display: flex;
        margin-left: -1px;
        margin-right: -40px;
        content: "";
    }

    &::after {
        background-image: url(/img/icon_about-line.svg);
        background-repeat: no-repeat;
        width: 108px;
        height: 10px;
        background-size: contain;
        display: flex;
        content: "";
        margin-left: 30px;

    }


}

.page_about {
    display: flex;
    flex-direction: column;
    margin-top: 200px;

    ul li {
        color: #171819;
        font-size: 18px;
        line-height: 2em;
    }

    img {
        width: 750px;
        margin: auto auto 100px auto;
    }
}

.about_content {
    display: flex;
    flex-direction: column;
    margin: auto;

    table {
        color: #171819;
        font-size: 18px;
        line-height: 2em;

        td {
            padding: 0 .6em;
        }

        td:first-child {
            padding-right: 1em;
        }

        td:nth-child(3) {
            padding-left: 1em;

        }
    }
}

.page_graphic {
    margin-top: 60px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    img {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
    }
}

.project_introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;

    img {
        margin: 0;
    }
}

.page_contact {
    margin-top: 20px;
    background-image: url(/img/img_contact_form.svg);
    background-repeat: no-repeat;
    width: 800px;
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
h5{
    color: #25689F;
    font-size: 26px;
    margin-bottom: 60px;
}
    form input {
        height: 40px;
        width: 440px;
        margin: 10px;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #D5D6D7;

    }

    form textarea {
        height: 160px;
        width: 440px;
        margin: 10px;
        padding: 8px 16px;
        border-radius: 8px;
        border: 1px solid #D5D6D7;

    }
    .mailTo {
        background-color: #33ACD6;
        color: #fff;
        border: none;
        border-radius: 8px;
    }
}