@charset "UTF-8";
/* 清除內外邊距 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

/* 設定預設字型 */
body,
button,
input,
select,
textarea {
  /* for ie */
  font: 12px/1;
  font-family: sans-serif, Tahoma, Helvetica, Arial;
  /* 用 ascii 字元表示，使得在任何編碼下都無問題 */
}

h1 {
  font-size: 36px;
  margin-bottom: 1.625rem;
  line-height: 1.6em;
}

h2 {
  font-size: 32px;
  margin-bottom: 1.625rem;
}

h3 {
  font-size: 28px;
  margin-bottom: 1.625rem;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

/* 將斜體扶正 */
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

/* 統一等寬字型 */
small {
  font-size: 12px;
}

/* 小於 12px 的中文很難閱讀，讓 small 正常化 */
/* 重置列表元素 */
ul,
ol {
  list-style: none;
}

/* 重置文字格式元素 */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

abbr[title],
acronym[title] {
  /* 注：1.ie6 不支援 abbr; 2.這裡用了屬性選擇符，ie6 下無效果 */
  border-bottom: 1px dotted;
  cursor: help;
}

q:before,
q:after {
  content: "";
}

/* 重置表單元素 */
legend {
  color: #000;
}

/* for ie6 */
fieldset,
img {
  border: none;
}

/* img 搭車：讓連結裡的 img 無邊框 */
/* 注：optgroup 無法扶正 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 使得表單元素在 ie 下能繼承字型大小 */
}

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置 hr */
hr {
  border: none;
  height: 1px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding-left: 10px;
  padding-right: 10px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  width: 100%;
  font-size: 16px;
  line-height: 1.6em;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1180px;
  margin: auto;
}

@media (max-width: 1220px) {
  .container {
    max-width: 960px;
    padding: 0 24px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  padding-left: 26px;
  padding-right: 26px;
}
.header .header_logo {
  width: 312px;
  height: 67px;
  margin: auto 0;
  background-image: url(/img/img_logo.png);
  background-repeat: no-repeat;
}

.header_left {
  float: left;
  display: flex;
  padding: 13px 0;
}

.header_right {
  float: right;
  display: flex;
  padding: 27px 0;
}
.header_right a {
  padding: 30px 15px;
  color: #373839;
}

.menu_input {
  display: none;
}

.menu_icon {
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  z-index: 5;
}
.menu_icon span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: relative;
  transition: 0.3s ease-in-out;
}
.menu_icon span::before, .menu_icon span::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(0deg);
  transform-origin: 3px 1px;
  transition: 0.3s ease-in-out;
}
.menu_icon span::before {
  top: -5px;
}
.menu_icon span::after {
  top: 5px;
}

@media (max-width: 767px) {
  .header {
    background-color: #fff;
  }
  .menu_icon {
    display: flex;
  }
  .menu {
    display: none;
    background-color: #fff;
    max-height: 80px;
    transition: 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: 0 0;
  }
  .menu_input:checked ~ .menu {
    display: inline-block;
    text-align: center;
    width: 100%;
    max-height: 600px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 120px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transform: scaleY(1);
  }
  .menu_input:checked ~ .menu a {
    display: block;
    color: #555657;
  }
  .menu_input:checked ~ .menu_icon span::before {
    transform: rotate(45deg);
  }
  .menu_input:checked ~ .menu_icon span {
    background: transparent;
  }
  .menu_input:checked ~ .menu_icon span::after {
    transform: rotate(-45deg);
  }
}
.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.bg_1 {
  background-image: url(/img/bg_index_t_l.svg);
  top: 0;
}

.bg_2 {
  background-image: url(/img/bg_index_top_r.svg);
  right: 0;
  top: 0;
  width: 520px;
  height: 1200px;
}

.bg_3 {
  background-image: url(/img/bg_index_bottom.svg);
  width: 256px;
  height: 139px;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 182px;
}

.bg_4 {
  background-image: url(/img/bg_index_2.svg);
  width: 764px;
  height: 800px;
  background-repeat: no-repeat;
  position: absolute;
  left: -330px;
  top: 692px;
}

.bg_5 {
  background-image: url(/img/bg_index_item.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 1990px;
  right: -100px;
  width: 282px;
  height: 235px;
  opacity: 30%;
}

.content_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
}
.content_1 ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.content_1 p {
  text-align: center;
  margin-top: 20px;
}

.arrow {
  position: absolute;
  bottom: 0;
  top: auto;
  right: 0;
  left: 0;
  margin: 50px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.w-in-block {
  width: 100%;
  display: inline-block;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px 165px 90px 165px;
  flex-direction: column;
}
.project a {
  width: 100%;
  position: relative;
  margin-bottom: 90px;
}
.project a :hover {
  cursor: pointer;
}
.project img {
  width: 100%;
  display: flex;
  height: 100%;
  border-radius: 12px;
}
.project .block {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.16;
  display: none;
}
.project .project_link:hover .block {
  display: flex;
}

footer {
  background-color: #F0F1F2;
  width: 100%;
  height: 182px;
  display: flex;
  align-items: flex-start;
  margin-top: 100px;
  padding: 50px 150px;
  flex-direction: column;
}
footer a {
  padding: 15px;
  color: #555657;
}/*# sourceMappingURL=style.css.map */